
<header class="fade-in">
  <img src="/assets/krm-color.svg" class="fade-in delay-1">
  <h3 class="text-center">KRM22</h3>
  <h4 class="text-center">risk as alpha</h4>
</header>
<div class="wrapper fade-in">
  <a
    id="registration"
    class="nav-link text-center"
    [routerLink]="['/register']"
    (click)="signup()"
    >Need account? Register.</a
  >

  <mat-card class="container fade-in mat-elevation-z0"
    [class.error]=" loginStatus === ApiStatusT.Error"
    [class.loading]=" loginStatus === ApiStatusT.Loading"
    [class.mat-elevation-z2]="loginStatus && loginStatus !== ApiStatusT.Success"
  >
    <form id="login" [formGroup]="loginForm" (keyup.enter)="submit()">
      <mat-form-field appearance="fill" class="fade-in delay-2">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          name="username"
          type="text"
          (mousedown)="apiStatusReset()"
        />
        <mat-icon matSuffix>alternate_email</mat-icon>
        <mat-error *ngIf="emailCtr.dirty && emailCtr.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="emailCtr.dirty && emailCtr.hasError('pattern')">
          Please enter VALID email address
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="fade-in delay-3">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          name="password"
          type="password"
          maxlength="100"
          (mousedown)="apiStatusReset()"
        />
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error
          *ngIf="passwordCtr.dirty && passwordCtr.hasError('required')"
        >
          Password is required
        </mat-error>
        <mat-error
          *ngIf="passwordCtr.dirty && passwordCtr.hasError('minlength')"
        >
          Password should be longer then 5 characters.
        </mat-error>
      </mat-form-field>
    </form>
    <a id="forgotPassword" class="nav-link text-center" [routerLink]="['/resendpassword']"
      >Forgot your password?</a
    >
    <button
      type="submit"
      mat-raised-button
      class="fade-in delay-4"
      color="primary"
      (click)="submit()"
      [disabled]="
        (loginForm.touched === true && loginForm.status === 'INVALID') ||
        (!!loginStatus && loginStatus === ApiStatusT.Loading)
      "
    >
      <div>
        <mat-progress-bar
          *ngIf="loginStatus && loginStatus === ApiStatusT.Loading"
          mode="indeterminate"
        ></mat-progress-bar>
        Login
        <mat-progress-bar
          *ngIf="loginStatus && loginStatus === ApiStatusT.Loading"
          mode="indeterminate"
        ></mat-progress-bar>
      </div>
    </button>
  </mat-card>
</div>

<div class="backgound-wrapper">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="512"
    height="512"
    viewBox="0 0 512 512"
    xml:space="preserve"
  >
    <path
      id="part-1"
      fill-rule="evenodd"
      clip-rule="evenodd"
      fill="#BCDCF2"
      d="M308 114c-63-29-106 18-131 63-23 40-35 81-41 133-30 5-66-12-62-44 2-19 16-43 24-61 25-57 59-119 119-135 39-11 72 19 91 44z"
    />
    <path
      id="part-2"
      fill-rule="evenodd"
      clip-rule="evenodd"
      fill="#4095CC"
      d="M480 356c-7 22-45 31-74 20-40-15-66-59-88-101-22-43-39-91-69-119-8-8-18-13-32-15 15-25 66-34 91-16 19 14 31 44 42 73 15 40 26 84 47 121 16 29 42 59 83 37z"
    />
    <path
      id="part-3"
      fill-rule="evenodd"
      clip-rule="evenodd"
      fill="#4095CC"
      d="M411 176c2-1 2 1 3 1-5 30-16 55-34 73-2-10-6-17-8-26 13-16 29-29 39-48zm-95 123c-24 20-57 38-91 57-32 17-69 38-112 36-49-3-68-53-47-100 8 11 17 24 34 29 12 3 24 3 36 2 56-5 126-37 161-53 7-4 15 27 19 29z"
    />
  </svg>
</div>
