:host{
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  @media only screen
  and (orientation : landscape) {
    flex-direction: row;
    .container{
      form{
        flex-direction: row;
      }
    }
  }
}

header {
  margin-top: 1em;
  padding: 1em;
  text-align: center;
  img{
    opacity: 0;
    width: 4em;
    height: 4em;
  }
  h3 {
    font-size: 42px;
    line-height: normal;
    margin: 0;
    font-weight: 100;
  }
  h4 {
    font-weight: 100;
    font-size: 14px;
  }
}


.container {
  // background-color: rgba(238, 251, 255, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;

  form {
    display: flex;
    flex-direction: column;
  }

  button {
    width: 80%;
  }

  .mat-progress-bar {
    margin: 0 -12px;
    width: calc(100% + 24px);
    height: 1px;
    opacity: 0.7;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s; // hack to hide autofill background color
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  // height: 100vh;
  justify-content: center;
  // position: absolute;
  width: 100%;
  align-items: center;
  justify-content: center;
  top: 0;
}

.backgound-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  svg {
    max-width: 75%;
    max-height: 75%;
    animation: disappear 0.5s 0.3s ease-in-out forwards;
    #part-1 {
      opacity: 0.8;
      animation: appear 2s 0.3s ease-in-out forwards;
    }
    #part-2 {
      opacity: 0.8;
      animation: appear 2s 0.6s ease-in-out forwards;
    }
    #part-3 {
      opacity: 0.8;
      animation: appear 2s 0.9s ease-in-out forwards;
    }
  }

  @keyframes appear {
    0% {
      opacity: 0.8;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 0.8;
    }
  }

  @keyframes disappear {
    0% {
      opacity: 0.8;
      transform: translateY(0) scale(1);
    }
    40% {
      opacity: 0.5;
      transform: translateY(-12%) scale(0.25);
    }
    100% {
      opacity: 0;
      transform: translateY(-50%) scale(0.7);
    }
  }
}

.fade-in {
  opacity: 0;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  &.delay-1 {
    animation-delay: 250ms;
  }
  &.delay-2 {
    animation-delay: 500ms;
  }
  &.delay-3 {
    animation-delay: 750ms;
  }
  &.delay-4 {
    animation-delay: 1000ms;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleInOpacity {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  40% {
    opacity: 0.6;
    transform: scale(0.8);
  }
  85% {
    opacity: 0.8;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.nav-link {
  margin: 20px 0;
}

.text-center {
  text-align: center;
}
