.container{
  display: flex;
    flex-direction: column;
    align-content: center;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;

    h1 {
      font-size: 96px;
      line-height: normal;
    }
}
