:host {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0066CC;
  svg{
    max-width: 75%;
    max-height: 75%;
    #part-1 {
      opacity: .8;
      animation: appear 2.5s 0.3s ease-in-out infinite;
    }
    #part-2 {
      opacity: .8;
      animation: appear 2.5s 0.6s ease-in-out infinite;
    }
    #part-3 {
      opacity: .8;
      animation: appear 2.5s 0.9s ease-in-out infinite;
    }
  }

  @keyframes appear {
    0% { opacity: 0.8; }
    50% { opacity: 0.3; }
    100% { opacity: 0.8; }
  }
}
