@use "@angular/material" as mat;

:host {
  .mat-card {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    @include mat.elevation-transition();
    @include mat.elevation(4);
    transition: all 0.5s ease-in;
    overflow: hidden;

    &.hover:hover {
      @include mat.elevation(8);
      transform: scale(1.02);
      transition: all 0.1s ease-out;
    }

    .header {
      width: 33%;
      margin: -32px 0;
      .mat-progress-bar {
        margin-bottom: -4px;
      }
      .avatar {
        margin-left: -52px;
        border: 4px solid #7e57c2;
        border-radius: 50%;
        height: 185px;
        width: 150px;
        object-fit: cover;
        background-color: #b0bec5;
      }
    }

    .content {
      width: 67%;
      // padding: 16px;
      .id {
        font-size: x-small;
      }
      h3 {
        font-size: 2.5em;
        font-weight: 100;
        line-height: normal;
        display: flex;
        align-items: center;
        max-height: 1.9em;
        width: 90%;
      }
      h3,
      p,
      a {
        border-radius: 0;
      }

      .email,
      a {
        display: flex;
        align-items: center;
        span {
          margin-left: 0.6em;
        }
      }
    }
  }

  // COMPONENT ORIENTATION
  // PORTRAIT
  &.portrait {
    .mat-card {
      flex-direction: column;
      // padding-bottom: 90px;
      .header {
        text-align: center;
        width: 100%;
        background-color: #7e57c2;
        margin: 0;
        .avatar {
          margin-top: 16px;
          margin-bottom: -32px;
          margin-left: 0;
          width: 10em;
          height: 10em;
        }
      }
      .content {
        width: 100%;
        h3 {
          margin: 1.1em 16px 0 16px;
          height: 2.5em;
          width: auto;
        }
        .email {
          margin-bottom: 16px;
          margin: 16px 16px;
        }
        // padding: 40px 5px 5px 5px;
        // width: 100%;
      }
    }
  }

  &.landscape.status-loading {
    .mat-card {
      .header {
        background-color: #b0bec5;
        .avatar {
          object-fit: contain;
        }
      }
    }
  }

  // COMPONENT STATUS
  // LOADING - DUMB
  &.status-loading {
    .mat-card {
      opacity: 0.4;
      background-color: #b0bec5;
      .header {
        background-color: #546e7a;
        .avatar {
          border-color: #546e7a;
        }
      }
      .content {
        p,
        a,
        span {
          border-radius: 10px;
          color: #78909c;
          background-color: #78909c;
        }
      }
    }
  }
}
