<mat-card class="tile" [class.hover]="hover">
  <div class="header fade-in">
    <mat-progress-bar
          *ngIf="cStatus === ApiStatusT.Loading"
          mode="indeterminate"
        ></mat-progress-bar>
    <img
      class="avatar"
      default="/assets/avatar/dumb.svg"
      [src]="user.img"
      [attr.alt]="user.fullName"
      loading="lazy"
    />
  </div>

  <div class="content fade-in">
    <h3>
      <a class="nav-link" [routerLink]="['/','users',user.id]">{{ user.fullName }}</a>
    </h3>
    <div class="email">
      <a [attr.href]="'mailto: ' + user.email">
        <mat-icon>email</mat-icon> </a
      ><span> {{ user.email }}</span>
    </div>
  </div>
</mat-card>
