.container {
  background-color: #e3f2fd;
  height: calc(100vh - 56px);
  overflow: auto;
  width: 100%;
  .btn_more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .arrow-wrapper {
      display: flex;
      margin-top: -12px;
      flex-direction: column;
      align-items: center;
      position: relative;
      .arrow {
        position: absolute;
        top: 0;
      }
    }
  }
  .spacer {
    height: 50vh;
  }
}

// @media only screen and (orientation: landscape) {
.container {
  .wrapper {
    max-width: 900px;
    margin: 2rem auto;
    padding: 0;
    display: grid;
    gap: 0.2rem;

    grid-template-columns: repeat(1, 1fr);
  }
}

.animate-down {
  animation-name: down;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.8;
    transform: translateY(5px);
  }
  100% {
    opacity: 0;
    transform: translateY(15px);
  }
}

@media (min-width: 500px) {
  .container {
    .wrapper {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      padding: 0 2rem;
    }
  }
}

@media (min-width: 768px) {
  .container {
    .wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (min-width: 1200px) {
  .container {
    .wrapper {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
