<cdk-virtual-scroll-viewport #scroller itemSize="156" class="container">
  <div class="wrapper">
    <krm-user-tile
      class="tile fade-in grid_1_of_4"
      *ngFor="let user of users; let i = index; trackBy: trackElement"
      [user]="user"
      [cStatus]="
        user.first_name === 'Dumb' ? ApiStatusT.Loading : ApiStatusT.Success
      "
      [cOrientation]="narrow ? CompOrientationT.Landscape : CompOrientationT.Portrait"
      [hover]="listStatus !== ApiStatusT.Loading"
    ></krm-user-tile>

    <!-- TEST DUMB COMPONENT -->
    <krm-user-tile
      class="tile fade-in"
      [cStatus]="ApiStatusT.Loading"
      [cOrientation]="narrow ? CompOrientationT.Landscape : CompOrientationT.Portrait"
    ></krm-user-tile>

    <button
      *ngIf="
        this.page &&
        this.page.page < this.page.total_pages &&
        listStatus !== ApiStatusT.Loading
      "
      mat-button
      (click)="fetchMore()"
      class="btn_more fade-in"
      >
      <div>fetch more...</div>
      <div class="arrow-wrapper">
        <mat-icon class="arrow animate-down">expand_more</mat-icon>
        <mat-icon class="arrow animate-down delay-2">expand_more</mat-icon>
      </div>
    </button>
  </div>
  <div class="spacer"></div>
</cdk-virtual-scroll-viewport>
