<cdk-virtual-scroll-viewport #scroller itemSize="156" class="container">
  <div class="wrapper">
    <krm-user-tile
      class="tile fade-in"
      *ngFor="let user of users; let i = index; trackBy: trackElement"
      [user]="user"
      [cStatus]="
        user.first_name === 'Dumb' ? ApiStatusT.Loading : ApiStatusT.Success
      "
      [cOrientation]="CompOrientationT.Portrait"
    ></krm-user-tile>
    <div class="spacer"></div>


    <!-- TEST DUMB COMPONENT -->
    <!-- <krm-user-tile
      class="tile fade-in"
      [cStatus]="ApiStatusT.Loading"
    ></krm-user-tile> -->

    <button
      *ngIf="
        this.page &&
        this.page.page < this.page.total_pages &&
        listStatus !== ApiStatusT.Loading
      "
      mat-button
      (click)="fetchMore()"
      class="btn_more fade-in"
    ><mat-icon>expand_more</mat-icon>
      fetch more...
    </button>
  </div>
  <div class="spacer"></div>
</cdk-virtual-scroll-viewport>
