html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.avatar {
  border: 4px solid #78909c;
  border-radius: 50%;
  height: 128px;
  width: 128px;
  object-fit: cover;
}

a {
  color: #7b1fa2;
  text-decoration: none;

  &:visited {
    color: #7b1fa2;
  }

  &:hover {
    text-decoration: none;
  }

  &:active {
    color: #9C27B0;
  }
}

.nav-link {
  margin: 20px 0;
}

.text-center {
  text-align: center;
}

.fade-in {
  opacity: 0;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.delay-1 {
  animation-delay: 250ms;
}
.delay-2 {
  animation-delay: 500ms;
}
.delay-3 {
  animation-delay: 750ms;
}
.delay-4 {
  animation-delay: 1000ms;
}


.animate-down {
  animation-name: down;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.8;
    transform: translateY(5px);
  }
  100% {
    opacity: 0;
    transform: translateY(15px);
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

.error {
  background-color: #d32f2f;
  color: #ffcdd2;
}
